.header {
  padding: 2.4rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.input__box {
  position: relative;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  border-radius: 11px;
  padding-left: 1.6rem;
  box-shadow: 0 2.5px 2.5px 1px var(--border-radius);
  outline: 2px solid var(--hover-nav-bg) ;
  
  transition: 0.3s all;
}

.input__box:hover,
.input__box:focus {
  background-color: var(--search-input-hover__color);
  box-shadow: 0 2.5px 2.5px 1px var(--border-radius);
  
  transition: 0.3s all;
}

.search-input__icon {
  width: 20px;
  height: 20px;
} 

.header input {
  font-family: 'Inter', sans-serif;
  padding: 1.2rem 1.6rem;
}

.header input[type="text"] {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  background-color: none;
  border-radius: 9px;

  width:100%;
}


.header input[placeholder] {
  outline: none;
  border: none;
 
  background-color: var(--searh-input);
  
  transition: 0.3s all;
}

.header input[placeholder]:hover {
  background-color: var(--search-input-hover__color);
  
}

.input__search-list {
  z-index: 19; 

  list-style: none;
  margin-top: 0.8rem; 
 
  background-color: var(--bg);
  border-radius: 11px;
  width: 100%;
  position: absolute;
  left:40%;
  top: 100%;
  transform: translate(-40%, 0);

  font-size: 1.4rem;
}

.input_search-list--active {
  padding: 1.8rem;
  border: 2px solid var(--hover-nav-bg);
}

.input__search-list li {
  cursor: pointer;
  padding-bottom: 1.2rem;
  font-weight:500;
}

.input__search-list li a {
  color: inherit;
  text-decoration: none;
}

.input__search-list li a:hover, 
.input__search-list li a:active {
  text-decoration: underline;
  /* color: var(--hover-nav-bg); */
} 

.heading-box {
  font-size: 2rem;
}

.app-options {
  /* solely for the tooltip */
  position: relative;

  background-color: var(--nav-bg);
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;

  padding: 1rem;
  border-radius: 11px;
}

.nav-icon {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: 0.3s all;
}

.tooltip {
  cursor: pointer;
  pointer-events: none;

  position: absolute;
  top: 110%;

  border-radius: 11px;
  background-color: var(--weather-panel);
  font-weight: 600;
  font-size: 1.2rem;
  opacity: 0;
  padding: 0.8rem;

  color: inherit;

  transition: 0.3s all;
}

.tooltip.current-weather {
  left: -10%;
  
}

.tooltip.screen-mode {
  right: -10%;
}

.default:hover .tooltip.current-weather,
.screen--mode:hover .tooltip.screen-mode {
  opacity: 1;
}



.screen--mode {
  transition: 0.3s all;
}

.screen--mode-btn[mode="light"] {
  display: none;
}

.main-heading {
  margin-left: 4rem;
  font-family: "Asap";
  font-weight: 500;
  font-size: 4rem;
}

.weather-description {
  font-size: 2rem;
}

.app--container {
  padding: 5.4rem 2.4rem;
  

}


.main--panels {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 1fr;

}

.default {
  opacity: 0.1;

  padding-top: 0.3rem;
  transition: 0.3s all;
}

.current-arrow:hover {
  cursor: auto;
}

.current--panel {
  /* background-color: var(--weather-panel); */
  display: flex;  
  flex-direction: column;
  justify-content:  space-between;
  align-items: center;
  width: auto;
  gap: 3.2rem;
  padding-bottom: 2.4rem;
  
  border-radius: 11px;
   
  /* grid parent-specific */
  align-self: auto;

}

.city {
  font-weight: 600;
  font-size: 2.4rem;

}

.current--panel__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.temp-options {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
}

.temp-options span {
  cursor: pointer;
}

.current-weather-img {
    max-width: 8rem;  
}

.temp {
  font-size: 3.6rem;
  font-weight: 600;
}

.temp.high_and_low {
  font-size: 1.4rem;
  font-weight: 400;
}

/* .forecast--schedule {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 3.2rem;
  padding-top: 2.4rem;
}

*/

.additional--weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.weather--info__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  
  flex-grow: 1;
}

.weather--info {
  background-color: var(--weather-panel);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.4rem;
  padding: 2rem 1.5rem;
  border-radius: 9px;

  transition: 0.3s all;
}

.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  font-size: 1.4rem;
}

.info-item.wind p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.info-item span {
  transition: 0.3s all;
}

.stat-icon {
  width: 30px;
  height: 30px;
}

.arrow-icon {
  color: inherit;
  width: 15px;
  height: 15px;

  transition: 0.3s all;
}

.temp_feels {
  font-size: 3.2rem;
  font-weight: 500;
}

.temp_feels.text {
  font-size: 1.2rem;
  flex-grow: 1;
  transition: 0.3s all;
}

.forecasts {

}

.forecast--panels {
  display: grid;
  row-gap: 3.6rem;
}


.forecast--panel {
  display: none;
}

.forecast--active {
  overflow-y: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.2rem;
}

.day_forecast-panel {
  opacity: 0.5;
}

.day_forecast-panel--active {
  opacity: 1;
}

.day_forecast-panel,
.day_forecast-panel--active {
  cursor: pointer;

  background-color: var(--weather-panel);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-size: 2rem;

  padding: 2.4rem 3.2rem;
  border-radius: 11px;

  transition: 0.3s all;
}

.weather-img {
  max-width: 3.2rem;
}

.day_forecast-panel div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:  1.4rem;
}

.day_forecast-panel .temp {
  font-size: 2rem;
}

.water-dot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.water-dot_dot {
  width: 16px;
  height: 16px;
}

.date {
  font-size: 1.6rem;
}

.day_forecast-panel img {
  max-width: 100%;
}

.sun {
  display: flex;
  flex-direction: column;

  border-radius: 11px;
  padding: 1.5rem 0.9rem;
}

.sun__sunset,
.sun__sunrise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.sun-img {
  max-width: 4.8rem;
}

.icon__link {
  text-decoration: none;
  color: var(--icon);
}

.footer-icon {
  width: 36px;
  height: 36px;
}

.icon__link:link, 
.icon__link:visited {
  
  color: var(--icon);
}

